body {
	min-height: 100vh;
	overflow: hidden;
}

#queue {
	/*min-height: 100vh;*/
}

#search {
	width: 100%;
	/*margin-top: 1%;*/
}

h2 {
	margin: 0;
}

button {
	float: right;
}

span {
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	pointer-events: none;
}

#video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

#video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.col-xs-4 {
	padding-right: 0;
	overflow-y: auto;
	height: 100vh;
}

.col-xs-8 {
	padding-left: 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

button {
	background: transparent;
	border: none;
}

button:focus {
	outline: none;
}

a, a:hover, a:focus, a:visited {
	text-decoration: none;
	color: default;
}

a li {
	border: 1px solid #ddd;
	margin-top: -1px;
	background-color: #f6f6f6;
	text-decoration: none;
	display: block;
	padding: 1% 5%;
	text-align: left !important;
	color: black;
	overflow: hidden;
	/*text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
}
/**/
a li:hover {
	/*opacity: 0.6;*/
	background: rgba(255,255,255,0.6);
	color: rgba(0,0,0,0.6);
	border-left: 2px solid black;
	text-decoration: none;
	cursor: default;
}

#current-song {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.col-xs-6 {
	padding-right: 5%;
}

ol {
	padding-left: 15px;
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
}

p {
	margin: 0;
	pointer-events: initial;
}

p:hover {
	background: rgba(255,255,255,0.1);
	opacity: 0.9;
	cursor: pointer;
}

.popuptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    right: 10%;
    /*bottom: 125%;*/
    /*left: 10%;*/
    /*margin-left: -80px;*/
}

.popup .show {
    visibility: visible;
}